<%# u are viewing someone else's profile and have never interacted before %>
<% if current_user != user && !Request.interacted?(current_user, user) %>
    <%= button_to "Send Friend Request", requests_path, params: {friend_id: user.id}%>

<%# when viewing ur own profile %>
<% elsif current_user == user %> 
    <h3>u have pending friend requests from:</h3>
    <ul>
        <% user.pending_requests.each do |req| %>
            <li>
            <%= User.find(req.user_id).name %> 
            <%= button_to "Accept", request_path, params: {request_id: req.id}, method: :put %>
            <%= button_to "Decline", request_path, params: {request_id: req.id}, method: :delete %>
            </li>
        <% end %>
    </ul>
<% end %>