<%# u are viewing someone else's profile and have never interacted before %>
<% if current_user != user && !Request.interacted?(current_user, user) %>
    <%= button_to "Send Friend Request", create_request_user_path %>

<%# when viewing ur own profile %>
<% elsif current_user == user %> 
    u have pending requests from:
    <ul>
        <% user.pending_requests.each do |req| %>
            <li>
            <%= User.find(req.user_id).name %> 
            <%= button_to "Accept Friend Request", accept_request_user_path, params: {requestor_id: req.user_id} %>
            <%= button_to "Decline Friend Request", decline_request_user_path, params: {requestor_id: req.user_id} %>
            </li>
        <% end %>
    </ul>
<% end %>